@media (min-width: 768px) {
    body {
        width: 768px;
    }
    .picture {
        height: 700px;
        background-size: 187%;
        background-position: center;
        margin-bottom: 73px;
    }
    header {
        padding-top: 18px;
        margin-bottom: 30px;
    }
    .r1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 680px;
        margin: 0 auto;
    }
    .collogo {
        text-align: left;
        transform: translate(4px, 4px);
    }
    .lisign:last-child {
        margin-left: 8px;
    }
    .r2 {
        margin-right: -11px;
    }
    .share {
        font-size: 52px;
    }
    .partner {
        width: auto;
        font-size: 24px;
        margin-bottom: 54px;
        transform: translate(2px, 18px);
    }
    button {
        width: 227px;
    }
    .r3 {
        width: 518px;
        margin: 0 auto;
    }
    .meet {
        width: auto;
        margin-bottom: 30px;
    }
    .karta {
        order: 0;
        height: 256px;
    }
    .vitrina {
        width: 194px;
        transform: translate(-1px, -4px);
    }
    .white {
        margin-bottom: 40px;
    }
}